<app-navbarfront></app-navbarfront>

<main class="main">
  <!-- Hero Section (Slideshow) -->
  <section *ngIf="isHomePage()" id="hero" class="hero-swiper init-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide-fullscreen">
        <img src="assets/front/img/mental.jpg" alt="Image 1" />
        <div class="slide-overlay text-center">
          <h1 class="text-primary">Better Solutions For Your Business</h1>
          <p>We are team of talented designers making websites with Bootstrap</p>
          <div class="d-flex justify-content-center gap-2 mt-3">
            <a href="#about" class="btn btn-info">Get Started</a>
            <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="btn btn-info glightbox d-flex align-items-center gap-1">
              <i class="bi bi-play-circle"></i><span>Watch Video</span>
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-slide slide-fullscreen">
        <img src="assets/front/img/social-wellnessss.jpg" alt="Image 2" />
        <div class="slide-overlay text-center">
          <h1 class="text-primary">Better Solutions For Your Business</h1>
          <p>We are team of talented designers making websites with Bootstrap</p>
          <div class="d-flex justify-content-center gap-2 mt-3">
            <a href="#about" class="btn btn-info">Get Started</a>
            <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="btn btn-info glightbox d-flex align-items-center gap-1">
              <i class="bi bi-play-circle"></i><span>Watch Video</span>
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-slide slide-fullscreen">
        <img src="assets/front/img/mm.jpg" alt="Image 3" />
        <div class="slide-overlay text-center">
          <h1 class="text-primary">Better Solutions For Your Business</h1>
          <p>We are team of talented designers making websites with Bootstrap</p>
          <div class="d-flex justify-content-center gap-2 mt-3">
            <a href="#about" class="btn btn-info">Get Started</a>
            <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="btn btn-info glightbox d-flex align-items-center gap-1">
              <i class="bi bi-play-circle"></i><span>Watch Video</span>
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-slide slide-fullscreen">
        <img src="assets/front/img/ACIP-framework-illustration-of-brain.jpg" alt="Image 4" />
        <div class="slide-overlay text-center">
          <h1 class="text-primary">Better Solutions For Your Business</h1>
          <p>We are team of talented designers making websites with Bootstrap</p>
          <div class="d-flex justify-content-center gap-2 mt-3">
            <a href="#about" class="btn btn-info">Get Started</a>
            <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="btn btn-info glightbox d-flex align-items-center gap-1">
              <i class="bi bi-play-circle"></i><span>Watch Video</span>
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-slide slide-fullscreen">
        <img src="assets/front/img/Wellbeing_WelfareAziendale_Eudaimonm.width-806.jpg" alt="Image 5" />
        <div class="slide-overlay text-center">
          <h1 class="text-primary">Better Solutions For Your Business</h1>
          <p>We are team of talented designers making websites with Bootstrap</p>
          <div class="d-flex justify-content-center gap-2 mt-3">
            <a href="#about" class="btn btn-info">Get Started</a>
            <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="btn btn-info glightbox d-flex align-items-center gap-1">
              <i class="bi bi-play-circle"></i><span>Watch Video</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </section>

  <!-- Abonnements Section -->
  <section id="abonnements" class="abonnements section-bg">
    <div class="container">
      <div class="flex justify-content-center">
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>
</main>

  <footer id="footer" class="footer">

   

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="d-flex align-items-center">
            <span class="sitename">FitMind</span>
          </a>
          <div class="footer-contact pt-3">
            <p>A108 Adam Street</p>
            <p>New York, NY 535022</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
            <p><strong>Email:</strong> <span>info&#64;example.com</span></p>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12">
          <h4>Follow Us</h4>
          <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
          <div class="social-links d-flex">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">FitMind</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 
  