.card:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease-in-out;
}

.card h5 {
  font-size: 1.2rem;
}
.transition-hover {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.transition-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

